@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background: linear-gradient(300deg, #000000, #292829);
  background-size: 120% 120%;
  -webkit-animation: gradient-animation 12s ease infinite;
          animation: gradient-animation 12s ease infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.qr-descarga {
  margin-top: 20px;
  width: auto;
  height: auto;
  text-align: center;
  font-family: Poppins;
}
.qr-descarga .qr-titulo {
  color: aliceblue;
}
.qr-descarga .qr-span {
  color: red;
  font-size: 14px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; /* Para separar el logo de los botones */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1210px;
  border-radius: 0px 0px 50px 50px;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #000000;
}
@media screen and (max-width: 1206px) {
  .navbar {
    width: 800px;
  }
}
@media screen and (max-width: 800px) {
  .navbar {
    width: 80%;
    height: auto;
    -webkit-transition: 1s;
    transition: 1s;
    padding: 0;
  }
}

.logo-container {
  -ms-flex-negative: 0;
      flex-shrink: 0; /* Evitar que el logo se reduzca */
  height: 45px;
}
.logo-container .logo {
  height: 100%;
  border-radius: 50%;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
}

.nav-btn {
  cursor: pointer;
  background: none;
  border: hidden;
  color: #FFF;
  font-family: "Manrope";
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  background: #000;
  padding: 5px;
  border-radius: 5px;
}
.nav-btn:hover {
  color: hwb(0 0% 0%);
}

.btn {
  cursor: pointer;
  background: none;
  border: hidden;
  color: #FFF;
  font-family: "Manrope";
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  background: #000;
  padding: 5px;
  border-radius: 5px;
}

.navbar-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  text-align: center;
}

.navbar-collapse {
  margin-bottom: 5px;
  -webkit-transition: 1s;
  transition: 1s;
  color: #fff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 200px;
  height: 100vh;
}
@media screen and (max-width: 1206px) {
  .header {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    gap: 20px;
  }
}
@media screen and (max-width: 800px) {
  .header {
    gap: 10px;
  }
}
@media screen and (max-width: 542px) {
  .header {
    gap: 0px;
  }
}
.header #animation-container {
  height: 400px;
  -webkit-perspective: 1000px;
          perspective: 1000px; /* Establece la perspectiva */
}
@media screen and (max-width: 542px) {
  .header #animation-container {
    height: 300px;
  }
}
.header #animation-container .tw {
  border-radius: 50%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; /* Establece el estilo de transformación */
  -webkit-animation: rotateAnimation 20s linear infinite;
          animation: rotateAnimation 20s linear infinite; /* Aplica la animación */
}
@media screen and (max-width: 1206px) {
  .header {
    background-size: 120%;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    background-size: 150%;
  }
}
.header .new-product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 200px;
  width: 398px;
  height: 346px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #ffffff;
}
@media screen and (max-width: 1206px) {
  .header .new-product-container {
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 600px;
    margin-left: 0;
  }
}
@media screen and (max-width: 800px) {
  .header .new-product-container {
    width: 400px;
    height: auto;
  }
}
@media screen and (max-width: 542px) {
  .header .new-product-container {
    width: 300px;
    height: auto;
  }
}
.header .new-product-container .new-product-tittle {
  padding-bottom: 20px;
  font-size: 18px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #ff0000;
}
.header .new-product-container .new-product-name {
  padding-bottom: 20px;
  font-size: 56px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 800px) {
  .header .new-product-container .new-product-name {
    font-size: 38px;
  }
}
.header .new-product-container .new-product-p {
  width: 37 9px;
  padding-bottom: 20px;
  font-family: "Manrope";
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  opacity: 0.75;
}
@media screen and (max-width: 800px) {
  .header .new-product-container .new-product-p {
    font-size: 18px;
  }
}
.header .new-product-container .new-product-btn {
  cursor: pointer;
  background-color: #ff0000;
  width: 160px;
  text-decoration: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: hidden;
  color: #ffffff;
  font-family: "Manrope";
  font-size: 23px;
  padding: 15px;
  border-radius: 8px 0px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.header .new-product-container .new-product-btn:hover {
  background-color: #000000;
  border: solid 1px red;
}

@-webkit-keyframes rotateAnimation {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg); /* Rotación inicial en el eje Y */
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
            transform: rotate3d(0, 1, 0, 360deg); /* Rotación final en el eje Y (360 grados) */
  }
}

@keyframes rotateAnimation {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg); /* Rotación inicial en el eje Y */
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
            transform: rotate3d(0, 1, 0, 360deg); /* Rotación final en el eje Y (360 grados) */
  }
}
.productosPrincipales {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px;
  padding-top: 10px;
  gap: 50px;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 542px) {
  .productosPrincipales {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
}

.producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 250px;
  border-radius: 8px;
  width: 304px;
  height: 276;
}
@media screen and (max-width: 542px) {
  .producto {
    height: 200px;
  }
}
.producto .producto-imagen {
  height: 100%;
}
.producto .producto-detalles {
  position: relative;
  top: -90px;
}
.producto .producto-titulo {
  color: #ffffff;
  text-align: center;
  font-family: monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.producto .boton-seguir {
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: hidden;
  color: #ffffff;
  font-family: monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 20px;
}
.producto .boton-seguir:hover {
  border-bottom: solid 1px #fff;
}

.cards-grandes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  height: 100vh;
}
.cards-grandes-container .zx9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  padding: 20px;
  background: #9e9e9f;
  border-radius: 8px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 800px) {
  .cards-grandes-container .zx9 {
    width: 400px;
  }
}
@media screen and (max-width: 542px) {
  .cards-grandes-container .zx9 {
    padding-bottom: 0;
    width: auto;
  }
}
.cards-grandes-container .zx9 .btn-donar {
  color: #000000;
  text-decoration: none;
  font-size: 28px;
  background-color: #ffffff;
  padding: 10px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5px;
  border-radius: 9px;
}
@media screen and (max-width: 542px) {
  .cards-grandes-container .zx9 .btn-donar {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .cards-grandes-container .zx9 {
    width: 600px;
  }
}
@media screen and (max-width: 800px) {
  .cards-grandes-container .zx9 {
    width: 500px;
    height: 300px;
  }
}
@media screen and (max-width: 542px) {
  .cards-grandes-container .zx9 {
    width: 300px;
  }
}
.cards-grandes-container .zx9 .cards-zx9-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 800px) {
  .cards-grandes-container .zx9 .cards-zx9-img {
    height: auto;
  }
}
@media screen and (max-width: 542px) {
  .cards-grandes-container .zx9 .cards-zx9-img {
    height: 100px;
  }
}
.cards-grandes-container .zx9 .cards-zx9-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cards-grandes-container .zx9 .cards-zx9-data .data-container {
  text-align: center;
  width: 349px;
  height: 303px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 1000px) {
  .cards-grandes-container .zx9 .cards-zx9-data .data-container {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 542px) {
  .cards-grandes-container .zx9 .cards-zx9-data .data-container {
    width: 200px;
  }
}
.cards-grandes-container .zx9 .cards-zx9-data .cards-zx9-title {
  margin-bottom: 50px;
  color: #ffffff;
  font-family: "Manrope";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 1000px) {
  .cards-grandes-container .zx9 .cards-zx9-data .cards-zx9-title {
    font-size: 24px;
  }
}
@media screen and (max-width: 542px) {
  .cards-grandes-container .zx9 .cards-zx9-data .cards-zx9-title {
    margin-bottom: 0;
  }
}
.cards-grandes-container .zx9 .cards-zx9-data .cards-zx9-parrafo {
  margin-bottom: 50px;
  color: #ffffff;
  font-family: "Manrope";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}
@media screen and (max-width: 800px) {
  .cards-grandes-container .zx9 .cards-zx9-data .cards-zx9-parrafo {
    font-size: 14px;
  }
}
@media screen and (max-width: 542px) {
  .cards-grandes-container .zx9 .cards-zx9-data .cards-zx9-parrafo {
    margin-bottom: 15px;
  }
}

.pay-logo {
  height: 300px;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; /* Establece el estilo de transformación */
  -webkit-animation: rotateAnimation 20s linear infinite;
          animation: rotateAnimation 20s linear infinite; /* Aplica la animación */
}
@media screen and (max-width: 542px) {
  .pay-logo {
    height: 100px;
  }
}

@keyframes rotateAnimation {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg); /* Rotación inicial en el eje Y */
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
            transform: rotate3d(0, 1, 0, 360deg); /* Rotación final en el eje Y (360 grados) */
  }
}
.footer {
  background: #101010;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 1206px) {
  .footer .btn-container {
    margin-left: 0;
  }
}
@media screen and (max-width: 800px) {
  .footer .btn-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}
.footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  text-align: center;
  gap: 30px;
  width: 100%;
}