.cards-grandes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  height: 100vh;
 
  .zx9 {
    display: flex;
    width: 800px;
    padding: 20px;
    background: #353ffd;
    border-radius: 8px;
    justify-content: space-around;
    @include tablet {
      width: 400px;
    }
    @include celu{
      padding-bottom: 0;
      
      width: 300px;
    }
    .btn-donar{
      color: #000000;
      text-decoration: none;
      font-size: 28px;
      background-color: #ffffff;
      padding: 10px;
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 5px;
      border-radius: 9px;
    }
    @include desktop2{
      width: 600px;
      
    }
    @include tablet{
      width: 500px;
      height: 300px;
    }
    @include celu{
      width: 400px;
      height: 250px;
    }
   
    .cards-zx9-img {
     display: flex;
     justify-content: center;
     align-items: center;
      @include tablet {
        height: auto;
      }
    }
    .cards-zx9-data {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      .data-container {
        text-align: center;
        width: 349px;
        height: 303px;
        flex-shrink: 0;
        @include desktop2{
          width: auto;
          height: auto;
        }
        @include celu{
          width: 200px;
        }
      }
      .cards-zx9-title {
        margin-bottom: 50px;
        color: #ffffff;
        font-family: "Manrope";
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 2px;
        text-transform: uppercase;
        @include desktop2{
          font-size: 24px;
        }
      }
      .cards-zx9-parrafo {
        margin-bottom: 50px;
        color: #ffffff;
        font-family: "Manrope";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        @include tablet {
          font-size: 14px;
        }
      }
      
      }
    }
  }

.pay-logo{
    height: 300px;
    border-radius: 50%;
    transform-style: preserve-3d; /* Establece el estilo de transformación */
    animation: rotateAnimation 20s linear infinite; /* Aplica la animación */
    @include celu{
      height: 200px;
    }
}


@keyframes rotateAnimation {
  0% {
      transform: rotate3d(0, 1, 0, 0deg); /* Rotación inicial en el eje Y */
  }
  100% {
      transform: rotate3d(0, 1, 0, 360deg); /* Rotación final en el eje Y (360 grados) */
  }
}
