@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    background: linear-gradient(300deg,#ffffff,#eddbdb,#ffffff);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  /* Estilos para el modal */
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-dialog {
    max-width: 80%; /* Ancho máximo del modal */
  }
  
  .modal-content {
    padding: 20px; /* Espacio interno del contenido del modal */
  }
  
  /* Estilos para el iframe */
  .modal-body iframe {
    width: 100%; /* Ajusta el ancho al 100% del espacio disponible */
    height: 486px; /* Ajusta la altura según tus necesidades */
    border: none; /* Quita el borde del iframe */
  }
  
  /* Estilos para el título del modal */
  .modal-title {
    font-size: 1.5rem; /* Tamaño de fuente del título */
    margin-bottom: 10px; /* Espacio entre el título y el contenido */
  }