.header{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 200px;
    height: 100vh; 
    #animation-container{
        height: 400px;
        perspective: 1000px; /* Establece la perspectiva */
        .tw{
            border-radius: 50%;
            height: 100%;
            transform-style: preserve-3d; /* Establece el estilo de transformación */
            animation: rotateAnimation 20s linear infinite; /* Aplica la animación */
        }
    }
    @include desktop1{
        background-size: 120%;
    }
    @include desktop2{
        background-size: 150%;
    }
    .new-product-container{
      
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 200px;
        width: 398px;
        height: 346px;
        flex-shrink: 0;
        color: #FFF;
        .new-product-tittle{
            padding-bottom: 20px;
            font-size: 18px;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 10px;
            text-transform: uppercase;
            color: red;
            opacity: 0.4964;
            
        }
        .new-product-name{
            padding-bottom: 20px;
            font-size: 56px;
            font-family: 'Manrope', sans-serif;
            font-style: normal;
            font-weight: 700;
            line-height: 58px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        .new-product-p{
            width: 37  9px;
            height: 75px;
            padding-bottom: 20px;
            font-family: "Manrope";
            font-style: normal;
            font-size: 15px;
            font-weight: 500;
            line-height: 25px;
            opacity: 0.75;
        }
        .new-product-btn{
            cursor: pointer;
            background: #D87D4A;
            width: 160px;
            height: 48px;
            flex-shrink: 0;
            border: hidden;
            color: #FFF;
            font-family: "Manrope";
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1px;
            text-transform: uppercase;
            &:hover{
                background-color: #FBAF85;
            }
        }
    }
}



@keyframes rotateAnimation {
    0% {
        transform: rotate3d(0, 1, 0, 0deg); /* Rotación inicial en el eje Y */
    }
    100% {
        transform: rotate3d(0, 1, 0, 360deg); /* Rotación final en el eje Y (360 grados) */
    }
}