.header{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
    height: 500px; 
   
   
    
   
  

    /*         sobre mi      */ 
    .sobre-mi-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 700px;
        flex-shrink: 0;
        color: #ffffff;
        @include tablet{
            width: 500px;
        }
        @include celu{
            width: 400px;
        }
      

        .sobre-mi-subtitulo{
            padding-bottom: 20px;
            font-size: 18px;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 10px;
            text-transform: uppercase;
            text-align: center;
            color: #ff0000;     
        }

        .sobre-mi-titulo{
            padding-bottom: 20px;
            font-size: 56px;
            font-family: 'Manrope', sans-serif;
            font-style: normal;
            font-weight: 700;
            line-height: 58px;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: center;
            
        }

        .sobre-mi-parrafo{
            width: 37  9px;
            padding-bottom: 20px;
            font-family: "Manrope";
            font-style: normal;
            font-size: 15px;
            font-weight: 500;
            line-height: 25px;
            opacity: 0.75;
            text-align: center;
           
        }

        .ver-twitch-btn{
            cursor: pointer;
            background-color: #ff0000;
            text-decoration: none;
            flex-shrink: 0;
            border: hidden;
            color: #ffffff;
            font-family: "Manrope";
            font-size: 23px;
            padding: 15px;
            border-radius: 8px 0px ;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1px;
            text-transform: uppercase;
            &:hover{
                background-color: #000000;
                border: solid 1px red;
            }
        }
    }
}
/*         ------------------      */       

/*         logo animado    */

     
        
#animation-container {
    perspective: 1000px; /* Agrega perspectiva para la rotación 3D */
    display: inline-block; /* Permite que el contenedor se ajuste al tamaño de la imagen */
    position: relative; /* Permite posicionar el fuego dentro del contenedor */
    overflow: hidden; /* Oculta cualquier sombra fuera del contenedor */
  }
  
  .img-animada {
    height: 300px;
    animation: rotateAnimation 4s linear infinite alternate; /* Aplica la animación de rotación */
    transform-origin: center;margin: 30px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7); /* Agrega una sombra roja para simular el fuego */
    border-radius: 50%; /* Asegura que la sombra se vea alrededor de todo el borde circular */
    position: relative; /* Permite posicionar la sombra en relación con la imagen */
    @include celu{
        height: 200px;
    }
}
  
  @keyframes rotateAnimation {
    0% {
      transform: rotate3d(1, 1, 0, 0deg); /* Inicio de la animación con rotación a 0 grados */
    }
    100% {
      transform: rotate3d(1, 1, 0, 360deg); /* Final de la animación con rotación a 360 grados */
    }
  }
  
  /* Animación del borde como fuego */
  @keyframes fireAnimation {
    0% {
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 0, 0, 0.9);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
    }
  }
  
  .img-animada::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fireAnimation 25s infinite; /* Aplica la animación de fuego al borde */
  }
  