.navbar {
    display: flex;
    justify-content: space-between; /* Para separar el logo de los botones */
    align-items: center;
    width: 1210px;
    padding: 15px;
    border-radius: 0px 0px 50px 50px;
    height: 80px;
    
    margin: 0 auto; /* Centrar horizontalmente el navbar si es necesario */
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #000000;
    @include desktop1{
      width: 800px;
    }
  }
  
  .logo-container {
    flex-shrink: 0; /* Evitar que el logo se reduzca */
    height: 45px;
    .logo{
      height: 100%;
      border-radius: 50%;
    }
  }
  
  .btn-container {
    display: flex;
    gap: 34px;
  }
  
  .nav-btn {
    cursor: pointer;
    background: none;
    border: hidden;
    color: #FFF;
    font-family: "Manrope";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
      color: hwb(0 0% 0%);
    }
  }
  .carrito-container{
    width: 150px;
    .btn{
      color: #fff;
      font-size: 20px;
      background-color: red;
    }
  }
  