.navbar {
    display: flex;
    justify-content: space-between; /* Para separar el logo de los botones */
    align-items: center;
    width: 100%;
    border-radius: 0px 0px 50px 50px;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #ffffff;
    }
    
  .logo-container {
    flex-shrink: 0; /* Evitar que el logo se reduzca */
    height: 45px;
    .logo{
      height: 100%;
      border-radius: 50%;
    }
  }
  .btn-container {
    display: flex;
    gap: 34px;
  }
  .nav-btn {
    cursor: pointer;
    background: none;
    border: hidden;
    color: #000000;
    font-family: "Manrope";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 5px;
    border-radius: 5px;
    &:hover{
      color: hwb(0 0% 0%);
    }
  }
    .btn{
    cursor: pointer;
    background: none;
    border: hidden;
    color: #000000;
    font-family: "Manrope";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 5px;
    border-radius: 5px;
    }
  .navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    background: #ffffff;
    border-radius: 8px;
   width: 100%; 
  }
  .navbar-collapse{
    transition: 1s;
    color: #000000;
  }
