.productosPrincipales{
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 10px;
    gap: 100px;
    display: flex;
   @include celu {
    flex-wrap: wrap;
   }
}
.producto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 250px;
    border-radius: 8px;
    width: 304px;
    height: 276;
    @include celu{
        height: 200px;
    }
    
    .producto-imagen{
      height: 100%;
    }
    .producto-detalles{
        position: relative;
        top: -90px;
    }
    .producto-titulo{
        color: #000;
        text-align: center;
        font-family: monospace;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .boton-seguir{
        text-decoration: none;
        cursor: pointer;
        background: none;
        border: hidden;
        color: #000000;
        font-family: monospace;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 20px;
    
    }
}

